@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

html, body {
  font-family: "Bubblegum Sans", sans-serif;
  height: 100%;
  margin: 0;
  background-image: url('images/backgroundimg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden; /* Prevent horizontal overflow */
  scroll-behavior: smooth;
}

h2{
  color: white;
  text-align: center;
  white-space: nowrap;
  font-size: 40px;

}
/* Rest of your CSS styles */
h1 {
  
  padding: 20px;
  color: white;
  text-align: center;
  white-space: nowrap;
  width: 120%;
  overflow: hidden;
  animation:
  typing 2s steps(26),
  cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% { border-color : transparent }
}

@keyframes typing  {
  from { width : 0}
}


/* PAGE 4 HARMAIN STYLING */ 
#customers {
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #customers td, #customers th {
    font-family: "Bubblegum Sans", sans-serif;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  #customers tr:hover {background-color: #71b3f9;}

  #customers tr {
    background-color: rgb(248, 248, 248);
}

  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007BFF;
    color: white;
  }

  #about {
    text-align: center;
    padding: 10px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the box horizontally */
}

.circle {
    display: inline-block; /* Ensures logos are displayed in a row */

  }

  .circle img {
    width: 90px; /* Set the width of the logos */
    height: 70px; /* Set the height of the logos */
    border-radius: 50%; /* Makes the logos round */
    transition: transform 0.3s; /* Smooth transition effect on hover */
    border: 1px solid black;
  }

  .circle:hover img {
    transform: scale(1.2); /* Increase size of logo on hover */
  }
  #progressBarContainer {
    padding-bottom: 100px;
    padding-top: 100px;
    width: 1500px; /* Fixed width */
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px; /* Adds padding around the fill bar */
    box-sizing: border-box; /* Ensures padding doesn't add to the total width */
    margin: 0 auto; /* Centers the progress bar container horizontally */
}

#progressBarFill {
    height: 100%;
    width: 75%; /* Represents the progress */
    background-color: #4297d8;
    border-radius: 3px; /* Slightly less than the container to fit nicely inside */
    transition: width 0.4s ease-in-out;
}
nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%; /* Ensures the navbar spans the entire width of the viewport */
  display: inline-block;
}

ul {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

li a:hover {
  color: blue;
}
